<div class="header">
  <a href="/" class="header-heading">Jumbo Journal</a>
  <% if @current_user %>
    <a href="/users/<%= @current_user.id %>">Oh, hey <%= @current_user.name %></a>
    <a href="/logout">Log the heck out!</a>
  <% else %>
    <a href="/login">Log the heck in!</a>
    <a href="/users/new">New User</a>
  <% end %>
</div>
